<h1 id="title">All Authors</h1>
<p><% @authors.each do |author| %></p>
<%= cl_image_tag author.thumbnail.key, gravity: :face, height: 80, width: 80, crop: :thumb %>
<p><%= link_to "#{author.first_name} #{author.last_name}", author_path(author) %></p>
<p><%= author.bio %></p>
<% end %>
