<h1><%= "#{@post.title}" %></h1>
<div class="container">
  <p><%= link_to "Edit", edit_post_path(@post) %></p>
  <p><%= link_to "Delete", post_path(@post), method: :delete, data: {:confirm => "Tem certeza?" } %></p>
</div>
